.virtual-btn button {
  /* set opacity to 0 for hide all the virtual btn */
  /* opacity:0.0; */

  /* set opacity to 0.7 for debugging virtual btn */
  /* opacity:0.7; */

  /* set opacity to 1 to turn virtual btn into real btn*/
  opacity:1;
 
  /* set color to transparent to hide the font */
  color: transparent;
}


.virtual-btn.b1b1 .go-home{
  display: block;
  left: 23px;
  top: 530px;
  height:50px;
  width:50px;
  border-radius: 50%;
}

.virtual-btn .go-up{
  display: block;
  left: 23px;
  top: 530px;
  height:50px;
  width:50px;
  border-radius: 50%;

}

.virtual-btn.b1 .go-up{
  display: none;
}
.virtual-btn.b1b1 .go-up{
  display: none;
  left: 0px;
}

.virtual-btn.b1 .go-down{
  display: block;
  left: 900px;
  top:530px;
  height:50px;
  width:50px;
  border-radius: 50%;
}

.virtual-btn.b1b1 .go-down-1{
  display: block;
  width:300px;
  height:200px;
  left: 140.25px;
  top: 67.75px;
}

.virtual-btn.b1b1 .go-down-2{
  display: block;
  width:300px;
  height:200px;
  left: 520.75px;
  top: 67.75px;

}
.virtual-btn.b1b1 .go-down-3{
  display: block;
  width:300px;
  height:200px;
  left: 140.25px;
  top: 303.25px;

}

.virtual-btn.b1b1 .go-down-4{
  display: block;
  width:300px;
  height:200px;
  left: 520.75px;
  top: 303.25px;
}

.virtual-btn.b1b1 .go-down-5 {
    display: block;
    width: 200px;
    height: 150px;
    left: 0.75px;
    top: 200px;
}


.virtual-btn.b1b1b1 .go-down-1,
.virtual-btn.b1b1b2 .go-down-1,
.virtual-btn.b1b1b3 .go-down-1
{
  display: block;
  width:240px;
  height:160px;
  left: 73.5px;
  top: 85.25px;


}

.virtual-btn.b1b1b1 .go-down-2,
.virtual-btn.b1b1b2 .go-down-2,
.virtual-btn.b1b1b3 .go-down-2
{
  display: block;
  width:240px;
  height:160px;
  left: 360.5px;
  top: 85.25px;

}
.virtual-btn.b1b1b1 .go-down-3,
.virtual-btn.b1b1b2 .go-down-3,
.virtual-btn.b1b1b3 .go-down-3
{
  display: block;
  width:240px;
  height:160px;
  left: 647.5px;
  top: 85.25px;


}

.virtual-btn.b1b1b1 .go-down-4,
.virtual-btn.b1b1b2 .go-down-4,
.virtual-btn.b1b1b3 .go-down-4
{
  display: block;
  width:240px;
  height:160px;
  left: 73.5px;
  top: 315.75px;

}

.virtual-btn.b1b1b1 .go-down-5,
.virtual-btn.b1b1b2 .go-down-5,
.virtual-btn.b1b1b3 .go-down-5
{
  display: block;
  width:240px;
  height:160px;
  left: 360.5px;
  top: 315.75px;

}

.virtual-btn.b1b1b1 .go-down-6,
.virtual-btn.b1b1b2 .go-down-6,
.virtual-btn.b1b1b3 .go-down-6
{
  display: block;
  width:240px;
  height:160px;
  left: 647.5px;
  top: 315.75px;

}

.virtual-btn.b1b1b4 .go-down-1
{
  display: block;
  width:240px;
  height:160px;
  left: 73.5px;
  top: 200.5px;
}
.virtual-btn.b1b1b4 .go-down-2
{
  display: block;
  width:240px;
  height:160px;
  left: 360.5px;
  top: 200.5px;

}
.virtual-btn.b1b1b4 .go-down-3
{
  display: block;
  width:240px;
  height:160px;
  left: 647.5px;
  top: 200.5px;

}

/*start of Minor change*/


/*End of minor change*/

.pop-up-layer .fs-close-btn{
  top: 30px;
  left: 750px;
  height:60px;
  width:60px;
  border-radius:50%;
}
