/*----------------------Common Misc config----------------------------*/

.misc-items {
    position: absolute;
    width: 962px;
    height:601px;
}

.misc-items > video {
    display: none;
    position: absolute;
    height:441;
    z-index: 0;
}


/*----------------------Video Specific Config----------------------------*/

/*-----Add virtual video btn here-----*/
.virtual-btn.b1b1b1 .go-play-video ,
.virtual-btn.b1b1b2 .go-play-video ,
.virtual-btn.b1b1b3 .go-play-video {
    display: block;
    position: absolute;
    top:30px;
    left: 30px;
    height: 50px;
    width: 50px;
}


 /*----- Select to display videos ------*/
.misc-items.b1b1b1 .play-video,
.misc-items.b1b1b2 .play-video,
.misc-items.b1b1b3 .play-video{
	display:block;
	/* Width:800; */
	Height:441;
	Left:87;
	Top:80;
	/* vertical-align:middle; */
}

.misc-items .misc-bg{
    position:absolute;
    width:962px;
    height:601px;
    z-index:0;
    top:0px;
    left:0px;
}

.misc-items .misc-close-btn {
    position: absolute;
    display: block;
    z-index: 0 ;
    top: 20px;
    left: 870px;
    height:60px;
    width:60px;
    border-radius:50%;
    background-image: url('../../img/FSCloseBtn.png');
    opacity: 1;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
