* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: 'DINRound';
    src: url('../fonts/DINRoundOffcPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINRound';
    src: url('../fonts/DINRoundOffcPro-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINRound';
    src: url('../fonts/DINRoundOffcPro-Bold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'DINRound';
    src: url('../fonts/DINRoundOffcPro-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #000;
    font-family: DINRound, Arial, FreeSans, sans-serif;
    width: 963px;
    height: 601px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

a,
a:visited {
    color: white;
    text-decoration: none;
}

.light_page {
    color: black;
}

input[type="text"] {
    font-family: DINRound, Arial, FreeSans, sans-serif;
}

input[type="email"] {
    font-family: DINRound, Arial, FreeSans, sans-serif;
}

::-webkit-input-placeholder {
    font-family: DINRound, Arial, FreeSans, sans-serif;
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%);
    background-color: black;
    transition: all 0.3s ease;
}

.row_main {
    display: block;
    /*
    height: 533px;
    */
    text-align: center;
}

.row_main a {
    text-decoration: none;
}

.logo {
    background: url('img/logo.png') no-repeat 0;
    width: 900px;
    height: 270px;
    margin: 0 auto;
    position: relative;
    top: 135px;
    overflow: visible;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(0deg);
    }
}

#touch-zone{
    width: 370px;
    height: 370px;
    display: block;
    position: absolute;
    top: 171px;
    left: 1118px;
}

.btn_deal {
    background: url('img/ad-bg.png') no-repeat;
    width: 370px;
    height: 370px;
    display: block;
    position: absolute;
    top: 171px;
    left: 1118px;
    cursor: pointer;
    background-size: 350px;
    transform-origin: 100px 60px;
    -webkit-animation: rotate 6s ease infinite;
}

.btn_main {
    width: 230px;
    height: 125px;
    /*
    width: 220px;
    height: 300px;
    */
    display: inline-block;
    text-align: center;
    /*
    font-size: 50px;
    */
    font-size: 3vw;
    font-weight: bold;
    /*
    position: relative;
    top: 140px;
    */
}

.btn_main .longlabel {
    font-size: 2.45vw;
}

.btn_main .fa {
    display: block;
    width: 100px;
    height: 100px;
    /*
    width: 200px;
    height: 200px;
    */
    border-radius: 110px;
    margin: 0px auto 10px;
    font-size: 50px;
    line-height: 80px;
    border-style: solid;
    border-width: 10px;
    border-color: inherit;
    /*    color: #FFF; */
    transition: background-color 0.2s ease;
}

a.btn_item {
    border-color: #ffffff;
    color: #ffffff;
}

a.btn_products {
    border-color: #0070ae;
    color: #29ad48;
}

/*a.btn_main.btn_products:active .fa,*/
a.btn_main.btn_products:focus .fa,
a.btn_main.btn_products:hover .fa {
    background-color: #0070ae;
}

a.btn_main.btn_game {
    color: #29ad48;
    border-color: #0070ae;
}

/*a.btn_main.btn_game:active .fa,*/
a.btn_main.btn_game:focus .fa,
a.btn_main.btn_game:hover .fa {
    background-color: #0070ae;
}

a.btn_dance {
    color: #29ad48;
    border-color: #0070ae;
}

/*a.btn_main.btn_dance:active .fa,*/
a.btn_main.btn_dance:focus .fa,
a.btn_main.btn_dance:hover .fa {
    background-color: #0070ae;
}

a.btn_poses {
    color: #29ad48;
    border-color: #0070ae;
    /*
    border-color: #d65757;
    color: #d65757;
    */
}

/*a.btn_main.btn_poses:active .fa,*/

a.btn_main.btn_poses:focus .fa,
a.btn_main.btn_poses:hover .fa {
    background-color: #0070ae;
}

a.btn_drinks {
    border-color: #ffffff;
    color: #ffffff;
}

/*a.btn_main.btn_products:active .fa,*/
a.btn_main.btn_drinks:focus .fa,
a.btn_main.btn_drinks:hover .fa {
    background-color: #57b7d6;
}

a.btn_snacks {
    border-color: #ffffff;
    color: #ffffff;
}

/*a.btn_main.btn_products:active .fa,*/
a.btn_main.btn_snacks:focus .fa,
a.btn_main.btn_snacks:hover .fa {
    background-color: #57b7d6;
}

a.btn_choco {
    border-color: #ffffff;
    color: #ffffff;
}

/*a.btn_main.btn_products:active .fa,*/
a.btn_main.btn_choco:focus .fa,
a.btn_main.btn_choco:hover .fa {
    background-color: #57b7d6;
}

a.btn_noodles {
    border-color: #ffffff;
    color: #ffffff;
}

/*a.btn_main.btn_products:active .fa,*/
a.btn_main.btn_noodles:focus .fa,
a.btn_main.btn_noodles:hover .fa {
    background-color: #57b7d6;
}

.header {
    color: #FFFFFF;
    height: 150px;
    line-height: 150px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 4em;
    text-align: center;
}

.header h1 {
    text-indent: -9999px;
    background: url('img/logo.png') no-repeat center center;
    background-size: 400px;
    display: inline-block;
    margin: 30px 0 0 0;
    width: 400px;
    overflow: hidden;
    height: 120px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.nav {
    margin: 15px 15px 0;
    padding: 0;
    line-height: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
    border: 5px solid #999;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    line-height: 96px !important;
    font-size: 60px !important;
}

.nav_back {
    float: left;
}

.nav:active,
.nav:focus {
    background-color: #FFF;
    color: #FFF;
}

.nav_home {
    float: right;
}

.loyalty_hint {
    font-size: 40px;
    color: #57a2d6;
    margin: 15px 0 0;
    display: none;
}

.ready .loyalty_hint {
    display: block;
}

.separator {
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0px;
    width: 48px;
    float: left;
}

.sign_up_btn {
    display: block;
    font-size: 70px;
    color: #57a2d6;
    padding-bottom: 5px;
}

#login .sign_up_btn {
    float: left;
    margin: 260px 0 0 130px;
}

.sign_up_btn .fa {
    width: 250px;
    height: 250px;
    font-size: 130px;
    display: block;
    color: #fff;
    border: 10px solid #57a2d6;
    border-radius: 160px;
    line-height: 250px;
    margin: 0 auto 15px;
}

.sign_up_btn:hover .fa,
.sign_up_btn:focus .fa,
.sign_up_btn:active .fa {
    background-color: #57a2d6;
}

.sign_up_btn:visited {
    color: #57a2d6;
}

.hor_line {
    background-color: #656464;
    display: inline-block;
    vertical-align: middle;
    height: 355px;
    width: 5px;
    border-radius: 5px;
    margin: 0 20px;
}

.col {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#login .col {
    margin: 0 30px 0 0;
    text-align: center;
}

.scan_img {
    height: 840px;
    margin-top: 20px;
}

#login .scan_img {
    padding: 0 130px;
}

#scan{
  display: none;
}

#scan.ready{
  display: block;
}

#scan .pepper_head {
    background: url('img/pepper_head_red.png')no-repeat 206px 0px;
}

#scan .scan_img {
    padding: 30px 40px;
}

#scan .product_stock{
  position: absolute;
  color: #FFF;
  top: 38px;
  right: 0;
  width: 280px;
  text-align: center;
  border-radius: 0 0 0 15px;
}

.pepper_head {
    height: 359px;
}

#login .ready .pepper_head {
    background: url('img/icons.png') 0px 1210px;
}

.scan_img_frame {
    background: url('img/icons.png') 0px 850px;
    height: 400px;
    width: 790px;
}

.scan_video {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 555px;
    width: 555px;
    margin: 0 auto;
    top: 10px;
    left: -1px;
    overflow: hidden;
}

.video {
    height: 528px;
}

.scan_box {
    width: 750px;
    height: 750px;
    margin: 90px 40px 0;
    text-align: center;
}

.scan_box .fa-barcode {
    width: 300px;
    height: 260px;
    font-size: 290px;
    margin: 100px auto 31px;
}

.scan_hint {
    font-size: 3em;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin: 0 40px;
    color: #d65757;
}

.product_prev {
    background-color: white;
    color: black;
    font-size: 1.1em;
    padding: 30px;
    width: 570px;
    height: 740px;
    text-align: left;
    position: relative;
    border-radius: 70px;
    margin: 40px 40px;
}

.product_prev:active,
.product_prev:focus {
    border: solid #F6EB16 20px;
    margin-top: 33px;
}

.product_prev h2 {
    font-size: 45px;
    /* margin: 10px 0; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* height: 1.2em; */
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

.product_prev img {
    margin: 60px auto 25px auto;
    display: block;
}

.product_prev .rating{
  /* position: absolute; */
  height: 40px;
  /* width: 100%; */
  display: block;
  font-size: 40px;
  text-align: center;
}

.search {
    font-size: 40px;
    display: inline-block;
    margin: 30px 0 10px;
    background: #FFF;
    width: 100%;
    border: 10px solid #d6c357;
    border-right: none;
    border-left: none;
    position: relative;
}

.search input {
    border: none;
    font-size: 100px;
    width: 100%;
    padding: 5px 35px 5px 25px;
    display: block;
    color: #d6c357;
}

.search_btn {
    height: 110px;
    width: 110px;
    position: absolute;
    background: #d6c357;
    right: 15px;
    top: 20px;
    content: "OK";
    color: #FFF;
    display: none;
    line-height: 110px;
    text-align: center;
    border-radius: 60px;
}

.search.focused .search_btn {
    display: block;
}

.search_btn:active,
.search_btn:focus {
    background-color: #F6EB16;
}

.results {
    display: block;
    height: 720px;
    overflow-y: scroll;
}

.results ul {
    padding: 0px;
    margin: 0px;
}

.results li {
    font-size: 4em;
    list-style-type: none;
    margin: 0;
    border-bottom: 3px solid #868686;
    position: relative;
    padding: 5px 0 5px 10px;
}

.results li:active,
.results li:focus {
    background-color: #d6c357;
    color: #000;
    text-decoration: none;
}

.results .rating i {
    font-size: 25px;
}

.results img {
    height: 130px;
    vertical-align: middle;
    border-radius: 70px;
    margin: 15px 10px;
}

.result_name {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    text-decoration: blink;
}

.result_stock {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 250px;
    text-align: center;
    transform: translate(0, -50%);
}

.result_stock .product_stock {
    margin: 0px;
}

.results .rating {
    right: 30px;
    font-size: 16px;
    color: #d6c357;
    display: inline-block;
}

.map {
    position: absolute;
    width: 1707px;
    height: 898px;
    overflow: hidden;
}

.grid_block {
    display: inline-block;
    height: 128px;
    width: 128px;
}

.map_marker div {
    background: url('img/icons.png') 225px 1428px;
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.map_svg {
    position: absolute;
    font-size: 2.4em;
    font-weight: bold;
    height: 898px;
    overflow: hidden;
}

.map_section {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 5px;
}

.st30 {
    font-size: 36px;
}

#sec_pepper_self {
    fill: none;
    stroke: none;
    stroke-width: none;
}

#g5438{
    display: none;
}

.map_section_dark {
    fill: #000000;
}

.map_section_selected {
    fill: #57d686 !important;
}

.deal_icon {
    background: url('img/icons.png') 969px 293px;
    width: 291px;
    height: 283px;
    position: absolute;
}

.content {
    height: 896px;
}

.product_img {
    display: inline-block;
    height: 450px;
    margin: 40px 10px 0;
}

.product .rating {
    position: absolute;
    top: 270px;
    left: 30px;
    font-size: 0em;
}

.product .rating i {
    font-size: 35px;
}

.product_title {
    font-size: 50px;
    margin: 0 0 20px 0;
    overflow: hidden;
    top: 200px;
    position: absolute;
    color: #ff0000;
    left: 30px;
}

.product_price {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 320px;
    position: absolute;
    top: 189px;
    right: 367px;
    padding: 15px;
    color: #ffffff;
    background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    border-radius: 0 70px 0 0;
}

.product_description {
    padding: 0;
    text-align: justify;
    font-size: 1em;
    height: 470px;
    display: table-cell;
    vertical-align: middle;
}

.locate_btn_container {
    display: block;
    width: 1200px;
    position: absolute;
    left: 50px;
    height: 200px;
    top: 790px;
    text-align: center;
}

.locate_btn {
    display: inline-block;
    font-size: 40px;
    margin: 10px 50px;
    width: 250px;
    height: 250px;
    color: #57d686;
}

.locate_btn .fa {
    width: 170px;
    height: 170px;
    border: 8px solid #57d686;
    border-radius: 100px;
    font-size: 80px;
    line-height: 170px;
    margin: 0 0 5px;
    color: #FFF;
    background: #000;
}

.buy_btn {
    color: #be79f5;
}

.buy_btn .fa {
    border-color: #be79f5;
}

.locate_btn:hover .fa-shopping-cart,
.locate_btn:active .fa-shopping-cart,
.locate_btn:focus .fa-shopping-cart
{
    background-color: #be79f5;
}

.locate_btn:hover .fa-map-o,
.locate_btn:active .fa-map-o,
.locate_btn:focus .fa-map-o{
    background-color: #57d686;
}

.product .product_stock {
    text-align: right;
    margin: 0;
    vertical-align: middle;
    position: absolute;
    top: 276px;
    left: 991px;
    line-height: 30px;
    font-size: 20px;
    padding: 5px;
    width: 339px;
    text-align: center;
    background: green;
    color: #FFF;
    border-radius: 0 0 0 30px;
}

.product .product_stock.in_stock,
#scan  .product_stock.in_stock {
    background: #008000;
}

.product .product_stock.low_stock,
#scan .product_stock.low_stock {
    background: #ff9e00;
}

.product .product_stock.out_of_stock,
#scan .product_stock.out_of_stock {
    background: #ff8a8a;
    color: #000;
}

.related {
    width: 250px;
    margin-left: 25px;
    text-align: center;
    border-left: 2px #57b7d6 solid;
    padding-top: -30px;
    height: 800px;
    padding: 0 0px 0 40px;
}

.related h2 {
    font-size: 30px;
    margin: 60px 5px 50px 5px;
    color: #57b7d6;
    font-weight: normal;
}

.product_img_small {
    height: 200px;
    border-radius: 100px;
}

.related_product {
    margin: 10px auto 30px;
    font-size: 1.5em;
    border-radius: 20px;
    padding: 5px;
}

.related_product:hover,
.related_product:active,
.related_product:focus {
    background-color: #ffffff;
}

.related_product p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px;
    color: #57b7d6;
}

.description_container {
    width: 780px;
}

.product {
    width: 1300px;
    font-size: 2em;
    background: #FFF;
    border-radius: 0 70px 70px 0;
    padding: 130px 20px 20px;
    margin: 40px 0 0;
    height: 560px;
    overflow: hidden;
}

.rating {
    color: #edd400;
    display: inline-block;
}

.rating i {
    font-size: 35px;
}

.user_deal .rating {
    text-align: center;
    display: block;
    margin: 0 15px;
    font-size: 30px;
}

.in_stock {
    color: green;
}

.low_stock {
    color: orange;
}

.out_of_stock {
    color: red;
}

.row {
    display: block;
}

.loyalty_card {
    color: white;
    width: 850px;
    overflow: hidden;
}

.loyalty_logo {
    display: none;
}

.logout {
    display: inline-block;
    cursor: pointer;
    margin: 20px 0 0 0;
    text-align: center;
    vertical-align: top;
    font-size: 30px;
    float: right;
    height: 150px;
    width: 150px;
    color: #57b7d6;
}

.logout i {
    width: 100px;
    height: 100px;
    border: 6px solid #57b7d6;
    border-radius: 60px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    color: #FFF;
}

.gift {
    color: #ffff00;
}

.points {
    color: #ff0000;
}

.card {
    display: inline-block;
    height: 362px;
    margin: 20px;
    font-size: 3.5em;
    padding: 25px;
}

.user_deal {
    border: 10px solid #cc0706;
    font-size: 2em;
    width: 300px;
    position: absolute;
    height: 300px;
    background: #FFF;
    margin: 0 0 40px 40px;
    border-radius: 190px;
    top: 30px;
    right: 40px;
}

.user_name {
    font-weight: bold;
    margin: 10px 0 0 0;
    font-size: 60px;
}

.user_phone,
.user_email {
    margin: 0;
    font-size: 0.7em;
    font-weight: bolder;
}

.user_email {
    margin-bottom: 50px;
}

.user_phone span,
.user_email span {
    width: 140px;
    display: inline-block;
    font-weight: normal;
}

.user_points {
    margin: 0;
}

.loyalty_top {
    height: 444px;
    position: relative;
}

.user_deal h3 {
    margin: 0px;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #f22322;
}

.user_deal img {
    height: 200px;
    margin: 9px 50px 0;
}

.user_deal .product_price {
    text-align: center;
    width: 153px;
    position: absolute;
    top: 60px;
    background: url('img/badge.png') no-repeat;
    height: 100px;
    color: #fff;
    padding: 160px 0 0;
    left: -110px;
    transform: rotate(30deg);
    font-size: 35px;
}

.deal_right {
    width: 100%;
}

.wishlist {
    margin: 70px 0 0;
    height: 403px;
    overflow: hidden;
    background: #FFF;
    box-shadow: 50%;
    box-shadow: inset 0px 7px 10px 0px rgba(0, 0, 0, 0.75)
}

.wishlist li {
    font-size: 25px;
    margin: 20px;
    height: 300px;
    width: 280px;
    display: inline-block;
    text-align: center;
    border: 3px solid #888;
    border-radius: 30px;
    color: #000;
}

.wishlist img {
    height: 230px;
    margin: 0 auto;
    display: block;
}

.wishlist h2 {
    font-size: 2em;
    margin: 20px 0 0 20px;
    color: #909090;
}

.wishlist h2 span {
    display: inline-block;
    background-color: #909090;
    height: 2px;
    width: 1450px;
    vertical-align: middle;
    text-align: center;
    margin-left: 20px;
}

.wishlist li span {
    overflow: hidden;
    margin: 10px 25px;
    display: block;
    color: #888;
}

.wishlist ul {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.deal_icon_small {
    display: none;
}


/* pop-up definitions */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.modal .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal .window {
    background: #FFF;
    border: 10px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    color: #000;
    padding: 20px;
    transition: all 0.5s ease-in-out;
}

.modal .window.init {
    width: 800px;
    height: 450px;
}

.modal .window.sending,
.modal .window.sent {
    width: 800px;
    height: 200px;
}

@-webkit-keyframes load {
    0% {
        color: #00b097;
    }
    25% {
        color: #ffad63;
    }
    50% {
        color: #ff5a52;
    }
    75% {
        color: #204e59;
    }
    100% {
        color: #00b097;
    }
}

.modal .window .sending {
    font-size: 3em;
    text-align: left;
    padding: 40px 40px 40px 150px;
    font-weight: bold;
    background: url('img/loader.gif') no-repeat;
    margin: 25px 0 0 200px;
    -webkit-animation: load 3s linear infinite;
}

.modal .window .sent {
    font-size: 3em;
    text-align: left;
    padding: 40px 40px 40px 170px;
    font-weight: bold;
    color: #77b43f;
    margin: 25px 0 0 198px;
    background: url('img/checkmark.gif') no-repeat;
}

.modal .window .init,
.modal .window .sending,
.modal .window .sent {
    display: none;
}

.modal .window.init .init,
.modal .window.sending .sending,
.modal .window.sent .sent {
    display: block;
}

.modal.focused .window {
    top: 2%;
    transform: translate(-50%, 0%);
}

.modal .window .title {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}

.modal .window .content {
    text-align: center;
    font-size: 2em;
    height: auto;
    color: #777;
}

.modal .window .content .input {
    font-size: 2.4em;
    width: 100%;
    border: 1px solid #321;
    margin: 30px 0 50px;
    border-style: none none solid;
}

.modal .window .btn_container {
    bottom: 0px;
    display: block;
    font-size: 1.8em;
}

.modal .window .btn_container .btn_send {
    background-color: #45ce16;
    color: #FFF !important;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 10px 0;
    margin: 10px;
}

.modal .window .btn_container .btn_cancel {
    color: #FFF !important;
    background-color: #777;
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
}


/* MAP PAGE */
.btn {
    padding: 0 20px;
    height: 360px;
}

.scan_product_stock {
    text-align: left;
    margin: 0 auto;
    font-size: 3em;
    padding: 0 50px;
}

.scan_product_price {
    font-size: 44px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: #FF0000;
    border-radius: 0 70px 0 0;
    color: #FFF;
    padding: 3px 30px 3px 0px;
    width: 250px;
    text-align: right;
}

/* SIGN UP PAGE */
.signup_content {
    padding: 50px 20px 0 20px;
    height: 860px;
}

.signup {
    font-size: 48px;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.signup_input {
    border: 0px solid #FFFFFF;
    border-width: 0 0 4px 0;
    background-color: #000000;
    color: #57a2d6;
    font-size: 80px;
    width: 80%;
    margin: 30px 10px;
}

.signup_submit {
    margin: 50px auto 0 auto;
    text-align: center;
    width: 50%;
}

.signup_result {
    display: none;
    margin-top: 60px;
    text-align: center;
    color: white;
    font-size: 86px;
}
