body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	/*background: #42413C;*/
	/*background: black;*/
	/*background: #1374A5;*/
	margin: 0px;
	padding: 0px;
	color: #000;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1 {
	padding-top:30px;
	padding-bottom:50px
}
h1, p {
	text-align:center;
	margin-top: 0px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 43px;
}
a img {
	border: none;
}
.container {
	width: 963px;
	background: white;
	border: 1px solid #FFFFFF;
	margin: 0 auto;
	height: 601px;
	position: relative;
}
.header {
	/* background: #1374A5; */
	border-bottom:1px solid #FFFFFF;
	height:135px
}
.header .logo{float:left; margin-right:20px}
.header h1{    float: left;
    margin: 0;
    padding: 50px 0 0 0;
    color: #fff;}
.content {
	background:#fff;
	padding: 50px 0;
	width: 100%;
	float: left;
	height:601px;
	text-align:center;
}
.content h1 {
	font-size: 50px;
}
.img {
	margin:0px;

}

.img-group img{
    position: absolute;
    left: -10px;
    top:-3px;
}
ul.buttons a:hover, ul.buttons a:active, ul.buttons a:focus {
	background: #13193D;
	color: #FFF;
	text-decoration:none;
}
.footer {
	padding: 10px 0;
	background: #1374A5;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
ul.buttons {
	list-style-type:none;
	display:block;
	text-align:center; padding:0 100px;
}
ul.buttons li {
	display:block;
	width:100%;
	
}
.buttons {
	display: table;
	height: 100%;
	
}
.btn {
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size:50px;
	font-weight: 400;
	margin: 0 auto 1em;
	max-width: 100%;
	width: 70%;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	background: #1374A5;
	padding:10px
}
.btn-5 {
	border: 1px solid #006;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, .5);
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-5:hover, .btn-5:visited {
	border: 1px solid #13193D;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
	text-shadow: 1px 1px 2px #427388;
}
.splash-logo {
    position: absolute;
    top: 20%;
    left: 12%;
    width: 75%;
}
.splash-logo h1 {
	color:#1374A5;
	font-size: 50px;
}
.splash-logo img {
	width: 50%;
}
.border{background: url(../images/border.png) no-repeat center bottom;
    padding-bottom: 25px;
}
.content p {
	font-size: 50px;
}
.image {
	width: 50%;
}
.camera_box #btn_confirm, 
.camera_box #btn_retake{
	/*
	width: 12vw;
	height: 6vw;
	*/
	font-size: 10vw;
}
button {
	font-size: 3vw;
}
h3 {font-size: 45px;
	border-radius: 30px;
}