<html>
    <head>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="app/js/action.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <!-- Start of angularjs -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="app/css/common.css">
        <link rel="stylesheet" type="text/css" href="app/css/misconfig.css">
        <script src="img/imgConfig.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-touch.min.js"></script>
        <script src="js/angular-PapaParse.min.js"></script>
        <script src="js/moment.min.js"></script>
        <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="js/js.cookie.js"></script>
        <script type="text/javascript" src="js/robotutils.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!--End of angularjs -->
    </head>
    <body style="margin:0px">
        <div id="DocReady">
        <div id="appScope" ng-app="myApp" ng-controller="myCtrl">
            <img ng-show="isTouchDisable" src="img/main/transparent.png" class="touch-disable">
            <!--<button style="position: absolute; z-index: 3; left:100px" ng-click="goToSpecPopUp('p2')"> show </button>
                <button style="position: absolute; z-index: 3; left:200px" ng-click="popUpQnA('p1')"> Q n A </button>
                <button class="cooldown" style="position: absolute; z-index: 10; left:300px" ng-click="cancelSpecPopUp()">close</button> -->
            <!-- <div  class="mic-layer"> -->
            <img ng-show="isReocrding" class="mic-recording" src="img/recording.gif" alt="Recording..">
            <!-- </div> -->
            <div class="pop-up-layer">
                <!--<div class="{{'virtual-btn '+pagePos}}">-->
                <div class="{{'virtual-btn '+pagePos +' '+ pageGroup}}">
                    <modal visible="showModal">
                        <img class="pop-up-img" ng-src="{{popUpImgSrc}}" />
                    </modal>
                    <fsmodal visible="showFSModal">
                        <img class="full-screen-pop-up-img" src="{{popUpImgSrc}}" />
                        <button type="button" class="fs-close-btn" ng-click="cancelSpecPopUp()"></button>
                        <div class="layer-question">
                            <div ng-class="appLayout" ng-show="isDisplay">
                                <div class="appOption opt{{ $index + 1 }}" ng-style="getBGImage($index+1)" ng-switch="$index +1" ng-repeat="option in optionList" ng-click="selectOption(option)">
                                    <div class="box-text text-setting-1" ng-switch-when="1" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                        <!-- A -->
                                    </div>
                                    <div class="box-text text-setting-1" ng-switch-when="2" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                        <!-- B -->
                                    </div>
                                    <div class="box-text text-setting-1" ng-switch-when="3" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                        <!-- C -->
                                    </div>
                                    <div class="box-text text-setting-1" ng-switch-when="4" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                        <!-- D -->
                                    </div>
                                    <div class="box-text text-setting-2" unselectable="on" onselectstart="return false;" onmousedown="return false;"> <span class="vertical-align-text">{{option}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fsmodal>
                    <fsmodal visible="showQnAModal">
                        <img class="full-screen-pop-up-img" src="{{popUpImgSrc}}" />
                    </fsmodal>
                </div>
            </div>
            <!-- <div class="debug-option-btn">
                <button style="position: absolute; z-index: 3; left:100px" ng-click="opt_show()"> show </button>
                <button style="position: absolute; z-index: 3; left:200px" ng-click="opt_hide()"> hide </button>
                <button style="position: absolute; z-index: 3; left:300px" ng-click="opt_update(['Y','N'])"> update2 </button>
                <button style="position: absolute; z-index: 3; left:400px" ng-click="opt_update(['a','b','c'])"> update3 </button>
                <button style="position: absolute; z-index: 3; left:500px" ng-click="opt_update(['t1','t2','t3','t4'])"> update4 </button>
                </div> -->

            <div class="{{'misc-items ' + pagePos}}">
                <img class="misc-bg" src="img/main/p1.png">
                    <button class="misc-close-btn" ng-click="clickToStopVideo()"></button>
                    <!--add html video here  add video id and video src-->
                    <video id="video_b1b1b1" poster="img/main.jpg" class="play-video" src="videos/1.mp4" autoplay="autoplay"  preload="auto" controls="controls" >
                    </video>
                    <video id="video_b1b1b2" poster="img/main.jpg" class="play-video" src="videos/2.mp4" autoplay="autoplay"  preload="auto" controls="controls" >
                    </video>
                    <video id="video_b1b1b3" poster="img/main.jpg" class="play-video" src="videos/3.mp4" autoplay="autoplay"  preload="auto" controls="controls" >
                    </video>
                    <!-- End of add html video here  add video id and video src-->
            </div>
            <div class="{{'virtual-btn '+ pagePos + ' '+ pageGroup}}">
                <!--Start of Adding specific position -->
                <button class="go-spec-1" ng-click="goToSpecPos('b1b1b3b1')">go spec-1</button>
                <button class="go-spec-2" ng-click="goToSpecPos('p2')">go spec-2</button>
                <button class="go-spec-3" ng-click="goToSpecPos('p2')">go spec-3</button>
                <button class="go-spec-4" ng-click="goToSpecPos('p2')">go spec-4</button>
                <button class="go-spec-5" ng-click="goToSpecPos('p2')">go spec-5</button>
                <!-- you can add your specific button here -->
                <!--End of Adding specific position -->
                <button ng-click="clickToPlayVideo(pagePos)" class="go-play-video">play video btn</button>
                <button ng-click="toggleModal('Success')" class="go-pop-up">pop up btn</button>
                <button ng-click="toggleFSModal('fs btn')"  class="go-fs-pop-up">fs pop btn</button>
                <button class= "go-home" ng-style="getBtnImg('home')" ng-click="goToPos('home')"> go home </button>
                <button class="go-up" ng-style="getBtnImg('up')" ng-click="goToPos('up')"> go up </button>
                <button class="go-one-to-many-up" ng-click="goToPos('one-to-many-up')"> go otm up </button>
                <button class="go-down" ng-style="getBtnImg('down')" ng-click="goToPos('down')"> go down </button>
                <button class="go-left" ng-click="goToPos('left')"> go left </button>
                <button class="go-right"  ng-click="goToPos('right')"> go right </button>
                <button ng-repeat ="x in numberList"
                    ng-class="goTriggerClass( $index + 1)" ng-style="getBtnImg('trigger-event' ,$index + 1)" ng-click="goTrigger( $index + 1)"> go trigger{{$index + 1}} </button>
                <button ng-repeat ="x in numberList"
                    ng-class="goDownClass( $index + 1)" ng-style="getBtnImg('down-single' ,$index + 1)" ng-click="goToPos('down', $index + 1)"> go down {{$index + 1}} </button>
                <button ng-repeat ="x in numberList"
                    ng-class="goOneToManyDownClass( $index + 1)"  ng-click="goToPos('one-to-many-down', $index + 1)"> go otm down {{$index + 1}} </button>
                <button ng-repeat ="x in numberList"
                    ng-class="goSiblingClass( $index + 1)"  ng-click="goToPos('sibling', $index + 1)"> go down </button>
                <button ng-click="goToPos('sibling')"> go to the first </button>
            </div>
            <div class="bg-layer">
                <img class="bg-img" ng-src="{{imgSrc}}" />
            </div>
        </div>
    </body>
    <script type="text/javascript" src="app/js/index.js" ></script>
</html>
